<p class="mt-8 mb-5">MY QUOTES</p>
<section>
  <section class="grid grid-cols-1 gap-4 sm:grid-cols-1 xl:grid-cols-3">
    @if (quotes$ | async; as quotes) { @for (quote of quotes; track quote.id) {
    <div>
      <app-quote-card
        [showSaveButton]="true"
        [showDiscardButton]="false"
        [showDeleteButton]="true"
        [bgColor]="'#dbeafe'"
        (deleteQuote)="onDeleteQuote($event)"
        [quote]="quote"
      ></app-quote-card>
    </div>

    } @empty {
    <p>There are no quotes</p>
    } }@else{
    <p>Loading...</p>
    }
  </section>
</section>

<!-- <p>There are no quotes</p>
<p>Loading...</p> -->
