<p class="mt-8 mb-5">INSPIRATIONAL QUOTE</p>
<section>
  @if (quotes$ | async; as quotes) {
  <section class="grid grid-cols-1 gap-4 sm:grid-cols-1 xl:grid-cols-3">
    @for (quote of quotes; track quote.quote) {
    <div>
      <app-quote-card
        [showSaveButton]="true"
        [showDiscardButton]="true"
        [showDeleteButton]="false"
        (discardQuote)="onDiscardQuote($event)"
        [quote]="quote"
      ></app-quote-card>
    </div>
    } @empty {
    <p>There are no quotes</p>
    }
  </section>
  } @else {
  <p>Loading...</p>
  }
</section>

<!-- <ng-container *ngIf="quotes$ | async as quotes; else loading">
  <section class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
    @for (quote of quotes; track quote.quote) {
    <div>
      <app-quote-card [quote]="quote"></app-quote-card>
    </div>
    } @empty {
    <p>There are no quotes</p>
    }
  </section>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template> -->
