<!-- <p class="mt-8 mb-5">INSPIRATIONAL QUOTE</p> -->
<br />
<section>
  @if (filteredQuotes.length > 0) {
  <section class="grid grid-cols-1 gap-4 sm:grid-cols-1 xl:grid-cols-3">
    @for (quote of filteredQuotes; track quote.quote) {
    <div>
      <app-quote-card
        [showSaveButton]="true"
        [showDiscardButton]="true"
        [showDeleteButton]="false"
        (discardQuote)="onDiscardQuote($event)"
        [quote]="quote"
      ></app-quote-card>
    </div>
    } @empty {
    <p>There are no quotes</p>
    }
  </section>
  }
</section>
