<section class="bg-blue-200 shadow">
  <div
    class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize"
  >
    <!-- TEXT LINK -->
    <section class="">
      <form [formGroup]="createQuoteForm" (ngSubmit)="onSubmit()">
        <!-- BLOCK QUOTE -->
        <div class="grid grid-cols-1 gap-6 mt-4 lg:grid-cols-3 w-full">
          <div class="lg:col-span-2 w-full">
            <app-input-text
              [placeholder]="quoteText"
              formControlName="quoteText"
            ></app-input-text>
          </div>
          <div
            class="flex flex-col lg:flex-row lg:items-end lg:justify-end w-full"
          >
            <!-- BLOCK AUTHOR -->
            <div class="w-full lg:w-auto lg:mr-4">
              <div class="lg:col-span-1 w-full">
                <app-input-text
                  [placeholder]="authorText"
                  formControlName="authorText"
                ></app-input-text>
              </div>
            </div>

            <!-- Submit Button -->
            <button
              type="submit"
              class="w-full lg:w-auto mt-4 lg:mt-0 px-8 py-3 leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600"
              [disabled]="!createQuoteForm.valid"
            >
              {{ buttonText }}
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
</section>
