<!-- <p class="mt-8 mb-5">MY QUOTES</p> -->
<section>
  <section class="grid grid-cols-1 gap-4 sm:grid-cols-1 xl:grid-cols-3">
    @if (filteredQuotes.length > 0) { @for (quote of filteredQuotes; track
    quote.id) {
    <div>
      <app-quote-card
        [showSaveButton]="true"
        [showDiscardButton]="false"
        [showDeleteButton]="true"
        [bgColor]="'#dbeafe'"
        (deleteQuote)="onDeleteQuote($event)"
        [quote]="quote"
      ></app-quote-card>
    </div>
    } } @else {
    <p>Add your first quote</p>
    }
  </section>
</section>

<!-- <p>There are no quotes</p>
<p>Loading...</p> -->
